.stats {
	display: grid;
	justify-content: end;
	align-self: end;
	grid-template-columns: repeat(2, max-content);
	text-transform: uppercase;
}

.stats div {
	padding: 0 10px;
	border-right: 1px solid black;
}
.stats div:last-child {
	border-right: none;
}
