.app {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: grid;
	grid-template-columns: min-content min-content;
	justify-content: center;
}

.canvas {
	display: grid;
	border: 1px solid black;
}

.dropdownButton {
	cursor: pointer;
	text-transform: uppercase;
	text-align: right;
}
