.app {
	position: relative;
	display: grid;
	grid-template-columns: min-content min-content;
	justify-content: center;
}

.canvas {
	display: grid;
	padding: 24px;
	background-color: rgb(32, 178, 170, 0.8);
}

.controls {
	padding: 24px 18px;
	top: 60px;
	left: 20px;
	max-width: 300px;
	background-color: rgb(32, 178, 170, 0.8);
	display: grid;
	grid-gap: 24px;
}

.dropdownButton {
	cursor: pointer;
	text-transform: uppercase;
	text-align: right;
}

.stats {
	background-color: rgb(32, 178, 170, 0.8);
}

@media (max-width: 991px) {
	.controls {
		overflow: scroll;
		max-height: 300px;
	}
}
